<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Blockchain Evangelist - Exploring blockchain and cryptocurrencies</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">    

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : '127049744618616',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.11'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

	<div id="preloader">      
      <div id="status">
         <img src="images/preloader.gif" height="64" width="64" alt="">
      </div>
   </div>

   <!-- Intro Section
   ================================================== -->
   <section id="intro">

   	<header class="row">	 

			<!-- <div id="logo" >
				<a href="#" >
          <img src="images/logow.png" alt="Blockchain">                  
        </a>					
			</div> -->

		   <nav id="nav-wrap">

		      <a class="menu-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
			   <a class="menu-btn" href="#" title="Hide navigation">Hide navigation</a>

		      <ul id="nav" class="nav">
		         <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
		         <li><a class="smoothscroll" href="#about">About</a></li>
		      </ul> <!-- end #nav -->

		   </nav> <!-- end #nav-wrap --> 	        

   	</header> <!-- Header End -->   	

   	<div  id="main" class="row">

	   	<div class="twelve columns">

            <div class="fb-messengermessageus"
                 messenger_app_id="127049744618616"
                 page_id="120042435376171"
                 color="<blue | white>"
                 size="<standard | large | x-large>">
            </div>

         </div> 

      </div> <!-- main end -->    	

   </section> <!-- end intro section -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row section-header">

      	<div class="twelve columns">	

      		<div class="icon-wrap">
            	<i class="fa fa-group"></i>
         	</div>

	         <h1>About Us.</h1>

	         <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusanti doloremque laudantium, totam rem aperiam,
	         eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam. 
	         </p>

         </div>

      </div> <!-- end section-header -->             	

      <div class="row section-content">
				
			<div class="six columns">
		      <h3>Our Process.</h3>

		      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
		      eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
		      </p>
	      </div>

	      <div class="six columns">
		      <h3>Our Approach.</h3>

		      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
		      eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
		      </p>
	      </div>            

      </div> <!-- end section-content -->  

      <div class="row section-content">
				
			<div class="six columns">
		      <h3>Our Vision.</h3>

		      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
		      eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		      </p>
	      </div>

	      <div class="six columns">
		      <h3>Our Objective.</h3>

		      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
		      eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
		      </p>
	      </div>            

      </div> <!-- end section-content -->
   </section> <!-- About Section End-->    


   <!-- Location Section
   ================================================== -->
	<section id="location">

		<div class="contacts">		
			
			<div class="row contact-details">		           		         

			   <div class="columns">

				   <h3><i class="fa fa-home"></i>Address.</h3>
				   <p>Delhi,India<br>
					</p>

			   </div> 

			   <div class="columns">

				   <h3><i class="fa fa-phone"></i>Phone Numbers.</h3>
				   <p>Mobile: +91-8130096886<br></p>

			   </div>	 

			   <!--<div class="columns end">-->

				   <!--<h3><i class="fa fa-envelope"></i>Emails.</h3>-->
				   <!--<p>raopreetam007@gmail.com<br>-->
				   <!--</p>-->
			   <!--</div>          	-->

		 	</div> <!-- end contact-details -->		  

		</div> <!-- end contacts -->

	</section> <!-- end location section -->

   <!-- footer
   ================================================== -->
   <footer>

      <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#intro"><i class="icon-up-open"></i></a></div>

   </footer> <!-- Footer End-->   

   <!-- Java Script
   ================================================== -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.placeholder.js"></script>
   <script src="js/backstretch.js"></script>  
   <script src="js/init.js"></script>

</body>

</html>